/*=========================================================
       Dashboard
=========================================================== */
/*----------------------------------------------------------
	   Navbar
------------------------------------------------------------*/
.navbar {
    --tblr-navbar-bg: #1d1d1c;
    --tblr-navbar-active-border-color: #74642F;
    font-size: 13px;
    letter-spacing: 1px;
}
.nav-link-icon{
    color: #74642F;
}
.nav-link{
    color: #C5A992;
}
/*----------------------------------------------------------
	   Footer
------------------------------------------------------------*/
.fa-brands{
    font-size: 1.3rem;
    color: #74642F;
}
.fa-brands:hover{
    color: #C5A992;
}
.footer{
    color: #74642F;
    padding: 1.5rem 0;
}
