/*
=====================================================================
*   Trabalho de Grupo: Projeto em Laravel - EditArt
*   UFCD: 5411 - Bases de dados - Sistemas de gestão
*   Turma: TPSI PL 1223
*   Formador: Vitor Custodio
*   Formandos: Leila Arruda, Lucas Patrício, Olesea Vulpe, Rúben Fonseca
=====================================================================*/
/*-------------- Geral ----------------- */

body{
    background-color: #F3F2EC;
    overflow-x: hidden;
}
.page-body{
    background-color: #F3F2EC;
}
.navbar {
    --tblr-navbar-bg: #292929;
    --tblr-navbar-active-border-color: #74642F;
}

.nav-link-icon{
    color: #74642F;
}

/* Botões */
.btn-primary, .btn-info, .btn-warning {
    --tblr-btn-color: #fff;
    --tblr-btn-bg: #C5A992;
    --tblr-btn-border-color: #C5A992;
    --tblr-btn-hover-color: #fff;
    --tblr-btn-hover-bg: #C5A992;
    --tblr-btn-hover-border-color: none;
    --tblr-btn-focus-shadow-rgb: 49, 132, 253;
    --tblr-btn-active-color: #fff;
    --tblr-btn-active-bg: #f1caaa;
    --tblr-btn-active-border-color: none;
    --tblr-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --tblr-btn-disabled-color: #fff;
    --tblr-btn-disabled-bg: #f1caaa;
    --tblr-btn-disabled-border-color: none;
}

.btn-info{
    --tblr-btn-bg: #f1caaa;
    --tblr-btn-border-color: #f1caaa;
    --tblr-btn-hover-bg: #f1caaa;
}

.git{
    font-size: 1.5rem;
}

.footer{
    padding: 0.5rem 0;
}

/* Paginação */
.pagination{
    --tblr-pagination-color: #C5A992;
    --tblr-pagination-border-color: #C5A992;
    --tblr-pagination-hover-color: #f1caaa;
    --tblr-pagination-hover-bg: #C5A992;
    --tblr-pagination-hover-border-color: #C5A992;
    --tblr-pagination-active-bg: #C5A992;
    --tblr-pagination-active-border-color: #C5A992;
    --tblr-pagination-disabled-border-color: #C5A992;
    --tblr-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(var(--tblr-pagination-color), 0.25);
}

