/*=========================================================
       Geral
=========================================================== */
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/*----------------------------------------------------------
	   Navbar
------------------------------------------------------------*/
.navbar{
    color: #C5A992;
    background-color: rgba(29, 29, 28, 0.97);
    --tblr-navbar-border-color: #1d1d1c;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: "Roboto Condensed", sans-serif;
    --bs-navbar-nav-link-padding-x: 1rem;
    --bs-navbar-brand-margin-end: 15rem;
}
.border-bottom {
    border-bottom: var(--bs-border-width) var(--bs-border-style) #c5a99242 !important;
}
.navbar-dark .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link.active{
    color: #C5A992;
}
.navbar-dark .navbar-nav .nav-link{
    color: #C5A992;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(250, 249, 247);
}
.text-1000{
    color: #C5A992 !important;
    text-decoration: none;
    font-size: 12px;
}
.text-1000:hover {
    color: rgb(250, 249, 247) !important;
}
.top-icons li{
    display: inline;
    margin: 1rem 0 0 1.5rem;
    font-size: 15px;
}
/*----------------------------------------------------------
	   Forms common style
------------------------------------------------------------*/
.form-control {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    height: 35px;
    border: 1px solid #EAEAEA;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.form-control:focus {
    border-color: #CACACA;
}
/*-- Forms size --*/
.input-lg,
.form-horizontal .form-group-lg .form-control {
    height: 43px;
    font-size: 13px;
}
.input-sm, .form-horizontal .form-group-sm .form-control {
    height: 29px;
    font-size: 10px;
}
.rqst-form {
    margin-top: 27px;

    .btn {
        margin-top: 5px;
    }
}
.input-group-addon {
    border: 1px solid #e4e4e4 !important;
}
/*-- Search form --*/
.search-box {
    position: relative;
}
/*=========================================================
       Pagina dos produtos
=========================================================== */
#myCarousel{
    margin-top: 76px;
}
.product-style {
    position: relative;
    overflow: hidden;
}
.slick-slider .product-style {
    margin: 0 15px 25px;
}
.product-style figcaption p {
    margin-bottom: 20px;
}
.product-style img.product-item {
    position: relative;
    background: #EFEEE8;
    border: 1px solid #EAE8DF;
    padding: 15%;
    cursor: pointer;
    width: 100%;
}
.product-style button.add-to-cart {
    position: absolute;
    background: rgba(29, 29, 28, 0.97);
    color: #C5A992;
    width: 100%;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 3;
    bottom: 300px;
    bottom: -65px;
    left: 0;
    z-index: 9;
    transition: 0.3s ease-out;
    border: none;
}
.product-style:hover button.add-to-cart {
    bottom: 380px;
    bottom: 0;
}
.product-style img:hover{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s linear;
}
.product-item figcaption {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
#wish-price{
    display: flex;
    justify-content: space-between;
    padding: 0 25px 0 25px;
}
#wish{
    font-size: 1rem;
    color: #74642F;
}
.product-item figcaption>h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #74642F;
    margin: 0;
}
.product-item figcaption>p {
    margin: 0;
}
.product-item .item-price {
    color: #74642F;
    font-size: 1.3em;
}
@media screen and (max-width: 768px) {
    .product-item {
        width: 45%;
    }

    .product-style img.product-item {
        /*height: 550px;*/
        object-fit: contain;
        margin: 0 auto;
    }

    .products-grid.col-3 .product-style,
    .products-grid.col-4 .product-style,
    .products-grid.col-5 .product-style {
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .product-style {
        width: 100%;
    }
}
/*=========================================================
       Login & Registration
=========================================================== */
.text-container2 {
    font-size: 2rem;
    h1, h5{
        color: white;
    }
}
.card {
    width: 80%;
    opacity: 90%;
    background-color: rgb(29, 29, 28);
    color: #C5A992;
    a {
        color: #C5A992;
        text-decoration: none;
    }
    .form-control{
        background-color: rgba(29, 29, 28, 0.82);
        border: 1px solid #C5A992;
        color: #C5A992;
    }

    h3{
        color: #C5A992 !important;
    }
}
.btn-primary, .btn-primary:active {
    color: #fff;
    background-color: #C5A992;
    border-color: #C5A992;
}
.btn-primary:hover{
    color: #fff;
    background-color: #f1caaa;
    border-color: #C5A992;
}
.form-floating input:-internal-autofill-selected,
.form-floating input:-webkit-autofill {
    background-color: rgba(29, 29, 28, 0.82) !important;
    border: 1px solid #C5A992 !important;
    color: #C5A992 !important;
    -webkit-text-fill-color: #C5A992 !important;
    appearance: none !important;
    transition: background-color 5000s ease-in-out 0s !important;
}
/*=========================================================
       Forum page
=========================================================== */
/*----------------------------------------------------------
	   Banner
------------------------------------------------------------*/
.banner{
    background-image: url('/public/imgs/banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
.text-container {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    h1, h5{
        color: white;
    }
}
.forum-bg {
    background-image: url('/public/imgs/forum_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    position: relative;
    margin-top: 76px;
}
/*--------------------------------------------------------------
	Forum Post
--------------------------------------------------------------*/
.post {
    margin: 0 0 80px;
    padding: 33px 55px;
    margin-bottom: 21px;
    overflow: hidden;
    border: 1px dotted #c2c2c2;
}
.post-title {
    line-height: 1.4;
    font-size: 22px;
    color: #111;
    margin: 0;
}
.post-header {
    margin: 0 0 15px;
}
.post-meta {
    font-size: 11px;
    color: #aaa;
}
.post-entry {
    border-top: 1px dotted #c2c2c2;
    padding-top: 20px;
    margin-top: 10px;
}
.post-images-slider {
    position: relative;
}
.post-images-slider .flex-control-nav {
    bottom: 0;
}
.post-thumbnail,
.post-images-slider,
.post-video {
    margin: 0 0 20px;
}
.post-quote {
    background: #222121a9;
    text-align: center;
    padding: 20px;
}
/* Post columns */
.post-columns .post {
    margin: 0 0 60px;
}
.post-columns .post-header {
    margin: 0 0 10px;
}
.post-columns .post-title {
    line-height: 1.8;
    font-size: 14px;
}
.post-columns .post-entry {
    padding: 10px 0 0;
    margin: 0 0 10px;
}
.post-columns.wo-border .post-entry {
    border: 0;
    padding: 0;
}
.post-columns .post-entry p:last-child {
    margin: 0;
}
.more-link:after {
    content: "\00BB";
    color: #666666;
    padding-left: 5px;
}
/*=========================================================
       Utilizador
=========================================================== */
/*----------------------------------------------------------
	   Perfil do utilizador
------------------------------------------------------------*/
#user-card, .tab-content{
    margin-top: 7rem;
}
#avatar{
    height: 10rem;
    border-radius: 100%;
    background-color: rgb(175, 136, 103);
}
/*=========================================================
       Footer
=========================================================== */
.fa-brands{
    font-size: 1.3rem;
    color: #C5A992;
}
.fa-brands:hover{
    color: white;
}
.footer{
    color: #C5A992;
    padding-top: 1.5rem;
    background-color: #1d1d1c;
    a{
        text-decoration: none;
        color: white;
    }
}
